body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    min-height: 97vh;
}
h1{
    text-align: center;
    padding-top: 30px;
    text-shadow: black 1px 1px 1px;
}
hr{
    border: 2px solid rgba(124, 124, 124, 0.93);
}

.container {
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    display: flex;
    width: 50%;
    margin: auto;

}


.controls {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-right: 10px;
    background-image: radial-gradient(circle, #dfe7f0, #e0e7f1, #e1e8f1, #e2e8f2, #e3e8f2, #e2eaf4, #e1ebf6, #e0edf7, #dcf0f9, #d9f3fa, #d6f6f9, #d5f9f6);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

}
.buttons{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}
.generateButton{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    padding-top: 15px;
}

.card {
    width: 70%;
    max-width: 650px;
    height: 410px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 15px;
    color: #E3D662;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-image: radial-gradient(circle, #dfe7f0, #e0e7f1, #e1e8f1, #e2e8f2, #e3e8f2, #e2eaf4, #e1ebf6, #e0edf7, #dcf0f9, #d9f3fa, #d6f6f9, #d5f9f6);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}
.card .textLayer{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    filter:none;
}


#promptDropdown{
    font-size: 15px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding-left: 10px;
    font-weight: bold;
    text-align: center;
    margin-block: 15px;
}
#colorPicker{
    font-size: 15px;
    width: 100%;
    height: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin-block: 15px;
    border: 1px solid #ddd;
}
#sizePicker{
    font-size: 15px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    margin-block: 15px;
}
#colorSchemePicker{
    font-size: 15px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding-left: 10px;
    font-weight: bold;
    text-align: center;
    margin-block: 15px;
}
#colorSchemePicker option{
    background-color: #e1e8f1;
}
.generateButton button{
    align-items: center;
    background-image: linear-gradient(144deg, #b46be8, #8b81ee 50%, #699fb2);
    border-radius: 8px;
    border: 1px solid #1a022a;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}