.main{
    display: flex;
}
.card{
    width: 650px;
    height: 410px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e3d662;
    text-shadow: black 4px 0 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
#citat{
    margin: 0px;
    padding-inline: 25px;
}
#author{
    /*padding-bottom: 40px;*/
}